body {
  background-color: #827773;
}

p {
  font-family: "Fredoka One";
  text-align: center;
  margin-top: 30vh;
  color: white;
}

.head {
  font-weight: bold;
  font-size: 15vw;
}

.title {
  font-size: 5vw;
  margin-top: 5px;
}

.content {
  font-size: 4vw;
  margin-top: 3px;
}
